/*
Palette de couleurs

Bleu foncé      #262087     rgb(38, 32, 135)
Bleu clair      #59bdff     rgb(89, 189, 255)
Gris foncé      #333333     rgb(51, 51, 51)
Gris clair      #ebe6e1     rgb(235, 230, 225)
Blanc           #FFF        rgb(255, 255, 255)
Vert            #20875a     rgb(32, 135, 90)
Rouge           #ba196a     rgb(186, 25, 106)

*/
/*Importer les Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Oxygen|Raleway');

/*styles principaux*/
body{
    background-color: #ebe6e1;
    font-family: Raleway, Verdana, sans-serif;
    color: #333333;
}
.wrapper{
    max-width: 768px;
    margin: 0px auto;
}
img.responsive{
    width: 100%;
    height: auto;
}

/*boutons*/
.button-group{
    font-size: 0;
}
.button-group li{
    display: inline-block;
}
.button-group li a{
    border-radius: 0;
}
.button-group li:first-child a{
    border-radius: 5px 0px 0px 5px;
}
.button-group li:last-child a{
    border-radius: 0px 5px 5px 0px;
}
.button a{
    background-color: #FFF;
    text-align: center;
    padding-top: 6px;
    border: solid 2px #59bdff;
    border-radius: 5px;
    color: #333333;
    font-size: 30pt;
    width: 60px;
    height: 60px;
    display: inline-block;
}
.button a:hover{
    background-color: #59bdff;
}


/*header*/
#header{
    background-color: #262087;
    padding: 0px 20px;
    height: 120px;
    padding-top: 20px;
}
#header figure{
    width: 65.853%;
    display: inline-block;
    vertical-align: middle;
}
#header figure img {
    max-width: 48.148%;
}
#header figure figcaption{
    color: #FFF;
}
#header ul{
    width: 31.707%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    margin-left: 14px;
}

/*Barre de navigation*/

#mainNav{
    background-color: #333333;
    padding: 20px;
}
#mainNav p{
    text-align: right;
}
#mainNav ul{
    display: none;
}
#mainNav ul li{
    margin: 20px;
}
#mainNav ul li a{
    text-decoration: none;
    color: #FFF;
    font-family: Oxygen, Verdana, sans-serif;
    font-size: 24pt;
}
#mainNav ul li a:hover{
    color: #59bdff;
    border-bottom: solid 5px #59bdff;
}

/*titre de la page*/

#title{
    background-color: #20875a;
    padding: 0px 20px;
}
#title .wrapper{
    position: relative;
    top: 20px;
}

#title h1 {
    padding: 10px;
    color: #FFF;
    font-family: Oxygen, Verdana, sans-serif;
    font-size: 30pt;
    background-color: #ba196a;
    background-color: rgba(186, 25, 106, 0.80);
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/*Contenu principal*/
#mainContent{
    background-color: #ebe6e1;
    padding: 0px 20px;
}
#mainContent .wrapper{
    margin-top: 40px;
}
#mainContent article{
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
}
article h2{
	font-family: Oxygen, Verdana, sans-serif;
	margin-bottom: 15px;
	color: #20875A;
	font-weight: bold;
	font-size: 1.5em;
}
article h3{
	font-family: Oxygen, Verdana, sans-serif;
	margin-bottom: 10px;
	color: #ba196a;
	font-weight: bold;
	font-size: 1.2em;
}
article p{
	margin-bottom: 15px;
	line-height: 1.1em;
}
article .chapeau{
	font-weight: bold;
	font-size: 1.2em;
}
article ul{
	list-style-type: disc;
	margin-left: 50px;
	margin-bottom: 15px;
}
article ol{
	list-style-type: decimal;
	margin-left: 50px;
	margin-bottom: 15px;
}
article a{
	text-decoration: none;
	color: #BA196A;
	font-weight: bold;
}
article a:hover{
	text-decoration: underline;
}
article strong{
	font-weight: bold;
}
article em{
	font-style: italic;
}



#footer{
    background-color: #333333;
    padding: 0px 20px;
}
